<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean, representing a "Person" Type of Class -->
    <bean id="myPerson" class="_3_InjectingLiteralValuesUsingSetterMethods.John">
        <!-- Injecting Literal Values using Setter Dependency Injection -->
            <!-- Note about the property's name attribute:
            When Spring reads name="age", it will search
            for a setter method called setAge() and pass the value 38-->
        <property name="age" value="38" />
        <property name="firstName" value="John Doe" />
    </bean>

</beans> <!-- end beans -->